.contact-container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  overflow: hidden;
}

.contact-form {
  flex: 1;
  background-color: rgba(123, 244, 255, 0.351);
  position: relative;
  margin-left: 200px;
  border-radius: 20px;
  width: 100%;

}
.contact-form > * {
  padding: 0 100px;
}

.section-sub-text {
  color: #ffdf9d;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.section-head-text {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.form {
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  gap: 20px;
  margin-top: 1rem;
}

.form-label {
  /* background-color: ; */
  display: flex;
  flex-direction: column;
  color: #0f005c;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}

.form-input,
.form-textarea {
  border-radius: 50px;
  background-color: #3333332f;
  padding: 10px 10px;
  outline: none;
  border: none;
}
.form-input::placeholder,
.form-textarea::placeholder {
  color: #000000;
  opacity: 0.5;
}
.form-textarea {
  resize: none;
}

.form-button {
  background-color: #29007c;
  /* color: #7d4dbd; */
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  font-weight: bold;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.form-button:hover {
  background-color: #005880;
}

@media (min-width: 768px) {
  .contact-container {
    flex-direction: row;
    margin-left: 10px;
  }

  .contact-form {
    flex: 0.5;
    padding: 1rem;
  }

  .section-head-text {
    font-size: 3.75rem;
  }
}
