@keyframes move-background {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.stars {
  background: rgb(0, 0, 0) url("/stars.png") repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: -10;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -9;
  animation: move-background 10s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent
    url("/clouds.png")
    repeat;
  background-size: 1000px 1000px;
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -6;
  animation: move-background 100s linear infinite;
}
.moon {
  width: 900px;
  height: 900px;
  position: absolute;
  z-index: -6;
  top: 0;
  right: -470px;
}

@media screen and (max-width: 768px) {
  .moon {
    height: 20vh;
    width: 30vh;
  }

  .twinkling,
  .clouds {
    animation: move-background 50s linear infinite;
  }
}
